features/ticketing/otrs-integration-31/src/main/resources/GenericTicketConnector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="GenericTicketConnector"
    targetNamespace="http://www.otrs.org/TicketConnector/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.otrs.org/TicketConnector/">
    <wsdl:documentation></wsdl:documentation>
    <!-- Warning: This WSDL file is for Development and Test purposes ONLY! -->
    <wsdl:types>
        <xsd:schema
            elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.otrs.org/TicketConnector/">
            <xsd:complexType name="TicketCreate"></xsd:complexType>
            <xsd:complexType name="OTRS_TicketCreate">
                <xsd:sequence>
                    <xsd:choice
                        minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>UserLogin, CustomerUserLogin or SessionID is mandatory</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="UserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="CustomerUserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SessionID"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="Password"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Ticket"
                        type="tns:OTRS_TicketCreate_Ticket"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Article"
                        type="tns:OTRS_Article"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="DynamicField"
                        type="tns:OTRS_DynamicField"
                        maxOccurs="unbounded"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Attachment"
                        type="tns:OTRS_Attachment"
                        maxOccurs="unbounded"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketCreate_Ticket">
                <xsd:sequence>
                    <xsd:element
                        name="Title"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Queue or QueueID is mandatory
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="QueueID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Queue"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="TypeID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Type"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="ServiceID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Service"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="SLAID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SLA"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                State or StateID is mandatory
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="StateID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="State"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Priority or PriorityID is mandatory
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="PriorityID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Priority"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="OwnerID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Owner"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="ResponsibleID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Responsible"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="CustomerUser"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CustomerID"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="PendingTime"
                        type="tns:OTRS_PendingTime"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_Article">
                <xsd:sequence>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="ArticleTypeID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="ArticleType"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="SenderTypeID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SenderType"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="From"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Subject"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Body"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:choice
                        minOccurs="1"
                        maxOccurs="1">
                        <xsd:element
                            name="ContentType"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:sequence
                            minOccurs="0"
                            maxOccurs="1">
                            <xsd:element
                                name="Charset"
                                type="xsd:string"
                                maxOccurs="1"
                                minOccurs="1">
                            </xsd:element>
                            <xsd:element
                                name="MimeType"
                                type="xsd:string"
                                maxOccurs="1"
                                minOccurs="1">
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:choice>
                    <xsd:element
                        name="HistoryType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="HistoryComment"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="AutoResponseType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>

                    <xsd:element
                        name="TimeUnit"
                        type="xsd:positiveInteger"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="NoAgentNotify"
                        type="xsd:positiveInteger"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="ForceNotificationToUserID"
                        type="xsd:positiveInteger" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="ExcludeNotificationToUserID"
                        type="xsd:positiveInteger" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="ExcludeMuteNotificationToUserID"
                        type="xsd:positiveInteger" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_DynamicField">
                <xsd:sequence>
                    <xsd:element
                        name="Name"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Value"
                        type="xsd:string" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_Attachment">
                <xsd:sequence>
                    <xsd:element
                        name="Content"
                        type="xsd:base64Binary"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Filename"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_PendingTime">
                <xsd:sequence>
                    <xsd:element
                        name="Year"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Month"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Day"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Hour"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Minute"
                        type="xsd:positiveInteger">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketCreateResponse">
                <xsd:sequence>
                    <xsd:element
                        name="TicketID"
                        type="xsd:positiveInteger"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketNumber"
                        type="xsd:string" minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleID"
                        type="xsd:positiveInteger"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Error"
                        type="tns:OTRS_Error"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_Error">
                <xsd:sequence>
                    <xsd:element
                        name="ErrorCode"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ErrorMessage"
                        type="xsd:string" minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_TicketUpdate">
                <xsd:sequence>
                    <xsd:choice
                        minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>UserLogin, CustomerUserLogin or SessionID is mandatory</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="UserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="CustomerUserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SessionID"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="Password"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:choice
                        minOccurs="1"
                        maxOccurs="1">
                        <xsd:element
                            name="TicketID"
                            type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="TicketNumber"
                            type="xsd:string" minOccurs="1" maxOccurs="1">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="Ticket"
                        type="tns:OTRS_TicketUpdate_Ticket"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Article"
                        type="tns:OTRS_Article"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="DynamicField"
                        type="tns:OTRS_DynamicField"
                        maxOccurs="unbounded"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Attachment"
                        type="tns:OTRS_Attachment"
                        maxOccurs="unbounded"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_TicketUpdate_Ticket">
                <xsd:sequence>
                    <xsd:element
                        name="Title"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="QueueID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Queue"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="TypeID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Type"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="ServiceID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Service"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="SLAID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SLA"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="StateID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="State"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="PriorityID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Priority"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="OwnerID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Owner"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="ResponsibleID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Responsible"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="CustomerUser"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="CustomerID"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="PendingTime"
                        type="tns:OTRS_PendingTime"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketUpdateResponse">
                <xsd:sequence>
                    <xsd:element
                        name="TicketID"
                        type="xsd:positiveInteger"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketNumber"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleID"
                        type="xsd:positiveInteger"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Error"
                        type="tns:OTRS_Error" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketGet">
                <xsd:sequence>
                    <xsd:choice
                        minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>UserLogin, CustomerUserLogin or SessionID is mandatory</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="UserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="CustomerUserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SessionID"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="Password"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketID"
                        type="xsd:positiveInteger"
                        minOccurs="1" maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="DynamicFields"
                        type="xsd:positiveInteger"
                        minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Extended"
                        type="xsd:positiveInteger"
                        minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="AllArticles"
                        type="xsd:positiveInteger"
                        minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleSenderType"
                        type="xsd:string"
                        minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleOrder"
                        type="xsd:string"
                        minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleLimit"
                        type="xsd:positiveInteger"
                        minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Attachments"
                        type="xsd:positiveInteger"
                        minOccurs="0" maxOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketGetResponse">
                <xsd:sequence>
                    <xsd:element
                        name="Ticket"
                        type="tns:OTRS_TicketGetResponse_Ticket" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:complexType name="OTRS_TicketGetResponse_Ticket">
                <xsd:sequence>
                    <xsd:element
                        name="Age"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArchiveFlag"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ChangeBy"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Changed"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Closed"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="CreateBy"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CreateTimeUnix"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Created"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CustomerID"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="CustomerUserID"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="DynamicField_NameX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="EscalationResponseTime"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="EscalationSolutionTime"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="EscalationTime"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="EscalationUpdateTime"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="FirstLock"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="GroupID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Lock"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="LockID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Owner"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="OwnerID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Priority"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="PriorityID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Queue"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="QueueID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="RealTillTimeNotUsed"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Responsible"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ResponsibleID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SLA"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SLAID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Service"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ServiceID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SolutionTime"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="State"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="StateID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="StateType"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketFreeKeyX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketFreeTextX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketFreeTimeX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketNumber"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Title"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Type"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TypeID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="UnlockTimeout"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="UntilTime"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Article"
                        type="tns:OTRS_TicketGetResponse_Article" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_TicketGetResponse_Article">
                <xsd:sequence>
                    <xsd:element
                        name="Age"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="AgeTimeUnix"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleID"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleType"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleTypeID"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Body"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Cc"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Changed"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Charset"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Closed"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="ContentCharset"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentType"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CreateTimeUnix"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CreatedBy"
                        type="xsd:positiveInteger"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Created"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CustomerID"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="CustomerUserID"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="DynamicField_NameX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="EscalationResponseTime"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="EscalationSolutionTime"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="EscalationTime"
                        type="xsd:string"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="EscalationUpdateTime"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="FirstLock"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="From"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="FromRealname"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="InReplyTo"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="IncomingTime"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Lock"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="LockID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="MessageID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="MimeType"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Owner"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="OwnerID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Priority"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="PriorityID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Queue"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="QueueID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="RealTillTimeNotUsed"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="References"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ReplyTo"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Responsible"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ResponsibleID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SLA"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SLAID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SenderType"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SenderTypeID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Service"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ServiceID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="SolutionTime"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="State"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="StateID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="StateType"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Subject"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketFreeKeyX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketFreeTextX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketFreeTimeX"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketNumber"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Title"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="To"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ToRealname"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Type"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TypeID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="UntilTime"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Attachment"
                        type="tns:OTRS_TicketGet_Attachment" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_TicketGet_Attachment">
                <xsd:sequence>
                    <xsd:element
                        name="Content"
                        type="xsd:base64Binary"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentAlternative"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentID"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="ContentType"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Filename"
                        type="xsd:string"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Filesize"
                        type="xsd:string" minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="FilesizeRaq"
                        type="xsd:string" minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketSearchResponse">
                <xsd:sequence>
                    <xsd:element
                        name="TicketID"
                        type="xsd:positiveInteger" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketSearch">
                <xsd:sequence>
                    <xsd:choice
                        minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>UserLogin, CustomerUserLogin or SessionID is mandatory</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="UserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="CustomerUserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SessionID"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="Password"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Limit"
                        type="xsd:positiveInteger"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="TicketNumber"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="Title"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="Queues"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="QueueIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="UseSubQueues"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Types"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="TypeIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="States"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="StateIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="StateType"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="StateTypeIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="Priorities"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="PriorityIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="Services"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="ServiceIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="SLAs"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="SLAIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="Locks"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="LockIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="OwnerIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="ResponsibleIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="WatchUserIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CustomerID"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CustomerUserLogin"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedUserIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedTypes"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedTypeIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedPriorities"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedPriorityIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedStates"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedStateIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedQueues"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CreatedQueueIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="DynamicFields"
                        type="tns:OTRS_TicketSeach_DynamicField"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="Ticketflag"
                        type="tns:OTRS_TicketSearch_TicketFlag" minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="From"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="To"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Cc"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Subject"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Body"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="FullTextIndex"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentSearch"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ConditionInline"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleCreateTimeOlderMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleCreateTimeNewerMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleCreateTimeNewerDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArticleCreateTimeOlderDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketCreateTimeOlderMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ATicketCreateTimeNewerMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketCreateTimeNewerDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketCreateTimeOlderDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketChangeTimeOlderMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketChangeTimeNewerMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketChangeTimeNewerDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketChangeTimeOlderDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketCloseTimeOlderMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketCloseTimeNewerMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketCloseTimeNewerDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketCloseTimeOlderDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketPendingTimeOlderMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketPendingTimeNewerMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketPendingTimeNewerDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketPendingTimeOlderDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketEscalationTimeOlderMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TTicketEscalationTimeNewerMinutes"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketEscalationTimeNewerDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="TicketEscalationTimeOlderDate"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ArchiveFlags"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="OrderBy"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="SortBy"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CustomerUserID"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_TicketSeach_DynamicField">
                <xsd:sequence>
                    <xsd:choice minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Equals, Like, GreaterThan, GreaterThanEquals, SmallerThan or SmallerThanEquals is mandatory</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="Equals"
                            type="xsd:string"
                            minOccurs="0" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="Like"
                            type="xsd:string"
                            minOccurs="0" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="GreaterThan"
                            type="xsd:string"
                            minOccurs="0" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="GreaterThanEquals"
                            type="xsd:string"
                            minOccurs="0" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="SmallerThan"
                            type="xsd:string"
                            minOccurs="0" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="SmallerThanEquals"
                            type="xsd:string"
                            minOccurs="0" maxOccurs="1">
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_TicketSearch_TicketFlag">
                <xsd:sequence>
                    <xsd:element
                        name="Seen"
                        type="xsd:positiveInteger" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_SessionCreate">
                <xsd:sequence>
                    <xsd:choice
                        minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>UserLogin or CustomerUserLogin is mandatory.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element
                            name="UserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="CustomerUserLogin"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="Password"
                        type="xsd:string"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_SessionCreateResponse">
                <xsd:sequence>
                    <xsd:element
                        name="SessionID"
                        type="xsd:positiveInteger"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Error"
                        type="tns:OTRS_Error"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="TicketCreateRequest">
        <wsdl:part
            name="TicketCreate"
            type="tns:OTRS_TicketCreate">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketCreateResponse">
        <wsdl:part
            name="TicketCreateResponse" type="tns:OTRS_TicketCreateResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketUpdateRequest">
        <wsdl:part
            name="TicketUpdate"
            type="tns:OTRS_TicketUpdate">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketUpdateResponse">
        <wsdl:part
            name="TicketUpdateResponse"
            type="tns:OTRS_TicketUpdateResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketGetRequest">
        <wsdl:part
            name="TicketGet"
            type="tns:OTRS_TicketGet">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketGetResponse">
        <wsdl:part
            name="TicketGetResponse"
            type="tns:OTRS_TicketGetResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketSearchRequest">
        <wsdl:part
            name="TicketSearch"
            type="tns:OTRS_TicketSearch">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketSearchResponse">
        <wsdl:part
            name="TicketSearchResponse"
            type="tns:OTRS_TicketSearchResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SessionCreateRequest">
        <wsdl:part
            name="SessionCreate"
            type="tns:OTRS_SessionCreate">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SessionCreateResponse">
        <wsdl:part
            name="SessionCreateResponse"
            type="tns:OTRS_SessionCreateResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GenericTicketConnector_Interface">
        <wsdl:documentation>Warning: This WSDL file is for Development and Test purposes ONLY!
</wsdl:documentation>
        <wsdl:operation name="TicketCreate">
            <wsdl:input message="tns:TicketCreateRequest"></wsdl:input>
            <wsdl:output message="tns:TicketCreateResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TicketUpdate">
            <wsdl:input message="tns:TicketUpdateRequest"></wsdl:input>
            <wsdl:output message="tns:TicketUpdateResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TicketGet">
            <wsdl:input message="tns:TicketGetRequest"></wsdl:input>
            <wsdl:output message="tns:TicketGetResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TicketSearch">
            <wsdl:input message="tns:TicketSearchRequest"></wsdl:input>
            <wsdl:output message="tns:TicketSearchResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionCreate">
            <wsdl:input message="tns:SessionCreateRequest"></wsdl:input>
            <wsdl:output message="tns:SessionCreateResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="GenericTicketConnector_Service"
        type="tns:GenericTicketConnector_Interface">
        <soap:binding
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="TicketCreate">
            <soap:operation
                soapAction="http://www.otrs.org/TicketConnector/TicketCreate" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TicketUpdate">
            <soap:operation
                soapAction="http://www.otrs.org/TicketConnector/TicketUpdate" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TicketGet">
            <soap:operation
                soapAction="http://www.otrs.org/TicketConnector/TicketGet" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TicketSearch">
            <soap:operation
                soapAction="http://www.otrs.org/TicketConnector/TicketSearch" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionCreate">
            <soap:operation
                soapAction="http://www.otrs.org/TicketConnector/SessionCreate" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="GenericTicketConnector">
        <wsdl:port name="GenericTicketConnector_endPoint" binding="tns:GenericTicketConnector_Service">
            <soap:address location="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnector" />
        </wsdl:port>
    </wsdl:service></wsdl:definitions>
