schema/xsd/eventconf.xsd

<?xml version="1.0"?>
<!-- target package ::= org.opennms.netmgmt.xml.eventconf -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xmlns.opennms.org/xsd/eventconf">

	<element name="events">
		<complexType>
			<sequence>
				<element ref="global" minOccurs="0" maxOccurs="1"/>
				<element ref="event" minOccurs="1" maxOccurs="unbounded"/>
				<element name="event-file" type="string" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<!-- Global settings for this configuration -->
	<element name="global">
		<complexType>
			<sequence>
				<element ref="security" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
	</element>

	<!-- Security settings for this configuration -->
	<element name="security">
		<complexType>
			<sequence>
				<!-- Event element whose value cannot be overridden by a value in an incoming event -->
				<element name="doNotOverride" type="string" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<element name="event">
		<complexType>
			<sequence>

				<!-- The event mask which helps to uniquely identify an event  -->
				<element ref="mask" minOccurs="0" maxOccurs="1"/>

				<!-- The Universal Event Identifier -->
				<element name="uei" type="string" minOccurs="1" maxOccurs="1"/>

                                <!-- A human readable name used to identify an event in the web ui -->
                                <element name="event-label" type="string" minOccurs="1" maxOccurs="1"/>                                
                                
				<!-- The snmp information from the trap -->
				<element ref="snmp" minOccurs="0" maxOccurs="1"/>

				<!-- The event description -->
				<element name="descr" type="string" minOccurs="1" maxOccurs="1"/>

				<!-- The event logmsg -->
				<element ref="logmsg" minOccurs="1" maxOccurs="1"/>

				<!-- The event severity -->
				<element name="severity" type="string" minOccurs="1" maxOccurs="1"/>

				<!-- The event correlation information -->
				<element ref="correlation" minOccurs="0" maxOccurs="1"/>

				<!-- The operator instruction for this event -->
				<element name="operinstruct" type="string" minOccurs="0" maxOccurs="1"/>

				<!-- The automatic action to occur when this event occurs -->
				<element ref="autoaction" minOccurs="0" maxOccurs="unbounded"/>

				<!-- The operator action to be taken  when this event occurs -->
				<element ref="operaction" minOccurs="0" maxOccurs="unbounded"/>

				<!-- The autoacknowledge information for the user -->
				<element ref="autoacknowledge" minOccurs="0" maxOccurs="1"/>

				<!-- A logical group with which to associate this event -->
				<element name="loggroup" type="string" minOcccurs="0" maxOccurs="unbounded"/>

				<!-- The trouble ticket info -->
				<element ref="tticket" minOccurs="0" maxOccurs="1"/>

				<!-- The forwarding information for this event -->
				<element ref="forward" minOccurs="0" maxOccurs="unbounded"/>
				
				<!-- The script information for this event -->
				<element ref="script" minOccurs="0" maxOccurs="unbounded"/>

				<!-- The text to be displayed on a 'mouseOver' event when this event is
     				     displayed in the event browser
				-->
				<element name="mouseovertext" type="string" minOccurs="0" maxOccurs="1"/>

			</sequence>
		</complexType>
	</element>

	<!-- The Mask for event configuration: The mask contains one or more 'maskelements'
             which uniquely identify an event - can only include elements from the
             following subset: uei, source, host, snmphost, nodeid, interface, service, id(SNMP EID)
	                       specific, generic, community
	-->
	<element name="mask">
		<complexType>
			<sequence>
				<element ref="maskelement" minOccurs="1" maxOccurs="unbounded"/>

				<element ref="varbind" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	
	<!-- The mask element -->
	<element name="maskelement">
		<complexType>
			<sequence>
				<!-- The mask element  name can only be one of those specified above -->
				<element name="mename" type="string" minOccurs="1" maxOccurs="1"/>

				<!-- The mask element value -->
				<element name="mevalue" type="string" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<!-- The snmp information from the trap -->
	<element name="snmp">
		<complexType>
			<sequence>
				<!-- The snmp enterprise id -->
				<element name="id" type="string"
					minOccurs="1" maxOccurs="1"/>

				<!-- The snmp enterprise id text -->
				<element name="idtext" type="string"
					minOccurs="0" maxOccurs="1"/>

				<!-- The snmp version -->
				<element name="version" type="string"
					minOccurs="1" maxOccurs="1"/>

				<!-- The specific trap number -->
				<element name="specific" type="int"
					minOccurs="0" maxOccurs="1"/>

				<!-- The generic trap number -->
				<element name="generic" type="int"
					minOccurs="0" maxOccurs="1"/>

				<!-- The community name -->
				<element name="community" type="string"
					minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>
	</element>

	<!-- The event logmsg with the destination attribute defining if event is for display only,
             logonly, log and display or neither.
             A destination attribute of 'donotpersist' indicates that Eventd is not to persist
             the event to the database.  -->
	<element name="logmsg">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="dest"
						use="optional"
						type="string"
						default="logndisplay">
						<simpleType>
							<restriction base="string">
								<pattern value="(logndisplay|displayonly|logonly|suppress|donotpersist)"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<!-- The event correlation information -->
	<element name="correlation">
		<complexType>
			<sequence>
				<!-- A cancelling UEI for this event -->
				<element name="cuei" type="string"
					minOccurs="0" maxOccurs="unbounded"/>

				<!-- The minimum count for this event -->
				<element name="cmin" type="string"
					minOccurs="0" maxOccurs="1"/>

				<!-- The maximum count for this event -->
				<element name="cmax" type="string"
					minOccurs="0" maxOccurs="1"/>

				<!-- The correlation time for this event -->
				<element name="ctime" type="string"
					minOccurs="0" maxOccurs="1"/>
			</sequence>
			<!-- The state determines if event is correlated -->
			<attribute name="state"
				use="optional"
				type="string"
				default="off">
				<simpleType>
					<restriction base="string">
						<pattern value="(on|off)"/>
					</restriction>
				</simpleType>
			</attribute>
			<!-- The correlation path -->
			<attribute name="path"
				use="optional"
				type="string"
				default="suppressDuplicates">
				<simpleType>
					<restriction base="string">
						<pattern value="(suppressDuplicates|cancellingEvent|suppressAndCancel|pathOutage)"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>

	<!-- The automatic action to occur when this event occurs with state controlling if action takes place -->
	<element name="autoaction">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="state"
						value="optional"
						type="string"
						default="on">
						<simpleType>
							<restriction base="string">
								<pattern value="(on|off)"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<!-- The operator action to be taken  when this event occurs with state controlling
	     if action takes place. The menutext gets displayed in the UI -->
	<element name="operaction">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="state"
						value="optional"
						type="string"
						default="on">
						<simpleType>
							<restriction base="string">
								<pattern value="(on|off)"/>
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="menutext"
						type="string"
						use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<!-- The autoacknowledge information for the user with state controlling if event is marked
	     acknoledged when inserted into the database -->
	<element name="autoacknowledge">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="state"
						use="optional"
						type="string"
						default="on">
						<simpleType>
							<restriction base="string">
								<pattern value="(on|off)"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<!-- The trouble ticket info with state on/off determining if action is taken on the trouble ticket -->
	<element name="tticket">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="state"
						use="optional"
						type="string"
						default="on">
						<simpleType>
							<restriction base="string">
								<pattern value="(on|off)"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<!-- The forwarding information for this event - state determines if event is forwarded,
	     mechanism determines how event is forwarded -->
	<element name="forward">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="state"
						use="optional"
						type="string"
						default="off">
						<simpleType>
							<restriction base="string">
								<pattern value="(on|off)"/>
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="mechanism"
						use="optional"
						type="string"
						default="snmpudp">
						<simpleType>
							<restriction base="string">
								<pattern value="(snmpudp|snmptcp|xmltcp|xmludp)"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>
		
	<!-- The script information for this event - describes a script to be executed
		whenever the event occurs -->
	<element name="script">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="language" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<!-- The varbind element -->
	<element name="varbind">
		<complexType>
			<sequence>
				<!-- The varbind element number -->
				<element name="vbnumber" type="int" minOccurs="1" maxOccurs="1"/>

				<!-- The varbind element value -->
				<element name="vbvalue" type="string" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

</schema>
