src/services/org/opennms/netmgt/config/linkd-configuration.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xmlns.opennms.org/xsd/config/linkd">

	<element name="linkd-configuration">
		<complexType>
			<!--- the initial sleep time in msec before starting data collection -->
			<attribute name="initial_sleep_time" type="positiveInteger" use="required"/>
			<!--- Sleep time between data collection on a node -->
			<attribute name="sleep_time" type="positiveInteger" use="required"/>
		</complexType>
	</element>
</schema>
