opennms-config/src/main/castor/syslogd-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.opennms.org/xsd/config/syslogd"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:this="http://xmlns.opennms.org/xsd/config/syslogd"
        xmlns:ns2="http://www.w3.org/1999/xhtml"
        xmlns:ns="http://www.w3.org/2001/XMLSchema"
        xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">
  <annotation>
    <documentation>XML Schema for the trapd-configuration.xml configuration
    file. Version: $Id: syslogd-configuration.xsd 2261 2005-07-03 02:54:10 +0000 (Sun, 03 Jul 2005) djgregor $</documentation>
  </annotation>

  <element name="syslogd-configuration">
    <annotation>
      <documentation>Top-level element for the syslogd-configuration.xml
      configuration file.</documentation>
    </annotation>

    <complexType>
      <attribute name="syslog-port" type="positiveInteger" use="required">
        <annotation>
          <documentation>The port on which trapd listens for SYSLOG Messages. The
          standard port is 514.</documentation>
        </annotation>
      </attribute>

      <attribute name="new-suspect-on-message" type="boolean" use="required">
        <annotation>
          <documentation>Whether traps from devices unknown to OpenNMS should
          generate newSuspect events.</documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>
</schema>
