opennms-config-model/src/main/castor/snmp-interface-poller-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.opennms.org/xsd/config/snmpinterfacepoller"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:this="http://xmlns.opennms.org/xsd/config/snmpinterfacepoller"
        xmlns:ns2="http://www.w3.org/1999/xhtml"
        xmlns:ns="http://www.w3.org/2001/XMLSchema"
		  xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
		  elementFormDefault="qualified">
  <annotation>
    <documentation>XML Schema for the snmp-interface-poller-configuration.xml configuration
    file. Version: $Id: snmp-interface-poller-configuration.xsd 10826 2008-10-07 01:12:17Z tarus $</documentation>
  </annotation>

  <element name="snmp-interface-poller-configuration">
    <annotation>
      <documentation>Top-level element for the snmp-interface-poller-configuration.xml
      configuration file.</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="1" ref="this:node-outage">
          <annotation>
            <documentation>Configuration of node-outage
            functionality</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="1" ref="this:package">
          <annotation>
            <documentation>Package encapsulating addresses, services to be
            polled for these addresses, etc..</documentation>
          </annotation>
        </element>
      </sequence>

      <attribute name="interval" type="long" use="optional" default="300000">
        <annotation>
          <documentation>Default Interval at which the interfaces are to be
          polled</documentation>
        </annotation>
      </attribute>

      <attribute name="threads" type="int" use="required">
        <annotation>
          <documentation>The maximum number of threads used for
          snmp polling.</documentation>
        </annotation>
      </attribute>

      <attribute name="service" type="string" use="required">
        <annotation>
          <documentation>The SNMP service string usually 'SNMP'.</documentation>
        </annotation>
      </attribute>

      <attribute default="true" name="suppressAdminDownEvent" use="optional">
        <annotation>
          <documentation>Flag which indicates to suppress Admin Status events at all.
          This is deprecated and will be ignored in the code!
          </documentation>
        </annotation>
 
        <simpleType>
          <restriction base="string">
            <pattern value="(true|false)"/>
          </restriction>
        </simpleType>
      </attribute>    
    </complexType>
  </element>

  <element name="node-outage">
    <annotation>
      <documentation>Configuration of node-outage
      functionality</documentation>
    </annotation>

    <complexType>
      <sequence>
        <annotation>
          <documentation>Critical service</documentation>
        </annotation>

        <element maxOccurs="unbounded" minOccurs="1" ref="this:critical-service"/>
      </sequence>
    </complexType>
  </element>

  <element name="critical-service">
    <annotation>
      <documentation>Critical service. Defining a critical service greatly
      reduces the traffic generated by the snmp poller when a service is DOWN.
      The snmp poller stop polling if one of the critical service is down on the 
      SNMP primary node interface.</documentation>
    </annotation>

    <complexType>
      <attribute name="name" type="string" use="required">
        <annotation>
          <documentation>Name of the critical service (typically,
          "SNMP")</documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="package">
    <annotation>
      <documentation>Package encapsulating addresses, services to be polled
      for these addresses, etc..</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="1" ref="this:filter">
          <annotation>
            <documentation>A rule which addresses belonging to this package
            must pass. This package is applied only to addresses that pass
            this filter.</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" name="specific"
                 type="string">
          <annotation>
            <documentation>Addresses in this package</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" ref="this:include-range">
          <annotation>
            <documentation>Range of addresses in this package.</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" ref="this:exclude-range">
          <annotation>
            <documentation>Range of addresses to be excluded from this
            package.</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" name="include-url"
                 type="string">
          <annotation>
            <documentation>A file URL holding specific addresses to be polled.
            Each line in the URL file can be one of:
            &lt;IP&gt;&lt;space&gt;#&lt;comments&gt; or &lt;IP&gt; or
            #&lt;comments&gt;. Lines starting with a '#' are ignored and so
            are characters after a '&lt;space&gt;#' in a line.</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="1" ref="this:interface">
          <annotation>
            <documentation>Interfaces to be polled for addresses belonging to
            this package.</documentation>
          </annotation>
        </element>
      </sequence>

      <attribute name="name" type="string" use="required">
        <annotation>
          <documentation>Name or identifier for this package.</documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="filter">
    <annotation>
      <documentation>A rule which addresses belonging to this package must
      pass. This package is applied only to addresses that pass this
      filter</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string"/>
      </simpleContent>
    </complexType>
  </element>

  <element name="include-range">
    <annotation>
      <documentation>Range of addresses to be included in this
      package.</documentation>
    </annotation>

    <complexType>
      <attribute name="begin" type="string" use="required">
        <annotation>
          <documentation>Starting address of the range.</documentation>
        </annotation>
      </attribute>

      <attribute name="end" type="string" use="required">
        <annotation>
          <documentation>Ending address of the range.</documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="exclude-range">
    <annotation>
      <documentation>Range of addresses to be excluded from this
      package.</documentation>
    </annotation>

    <complexType>
      <attribute name="begin" type="string" use="required">
        <annotation>
          <documentation>Starting address of the range.</documentation>
        </annotation>
      </attribute>

      <attribute name="end" type="string" use="required">
        <annotation>
          <documentation>Ending address of the range.</documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="interface">
    <annotation>
      <documentation>Interfaces to be polled for addresses in this
      package.</documentation>
    </annotation>

    <complexType>
        
       <attribute name="criteria" type="string">
          <annotation>
            <documentation>This represents the SQL criteria that is performed to select interfaces to be polled
            example: (snmpifname like '%eth%' and snmpiftype=6)</documentation>
          </annotation>
        </attribute>      
    
      <attribute name="name" type="string" use="required">
        <annotation>
          <documentation>Interfaces group name</documentation>
        </annotation>
      </attribute>

      <attribute name="interval" type="long" use="required">
        <annotation>
          <documentation>Interval at which the interfaces are to be
          polled</documentation>
        </annotation>
      </attribute>

      <attribute name="user-defined" use="optional" default="false">
        <annotation>
          <documentation>Specifies if the service is user defined. Used
          specifically for UI purposes.</documentation>
        </annotation>

        <simpleType>
          <restriction base="string">
            <pattern value="(true|false)"/>
          </restriction>
        </simpleType>
      </attribute>
      
      

      <attribute name="status" use="optional" default="on">
        <annotation>
          <documentation>Status of the interfaces. The interfaces are polled only if
          this is set to 'on'.</documentation>
        </annotation>

        <simpleType>
          <restriction base="string">
            <pattern value="(on|off)"/>
          </restriction>
        </simpleType>
      </attribute>

     <attribute name="port" use="optional">
        <annotation>
          <documentation>If set, overrides UDP port 161 as the port where SNMP
          GET/GETNEXT/GETBULK requests are sent.</documentation>
        </annotation>

        <simpleType>
          <restriction base="int">
            <minInclusive value="1"/>
            <maxInclusive value="65535"/>
          </restriction>
        </simpleType>      
      </attribute>

      <attribute name="retry" type="int" use="optional">
        <annotation>
          <documentation>Default number of retries</documentation>
        </annotation>
      </attribute>

      <attribute name="timeout" type="int" use="optional">
        <annotation>
          <documentation>Default timeout (in milliseconds)</documentation>
        </annotation>
      </attribute>

      <attribute name="max-vars-per-pdu" type="int" use="optional" default="10" >
        <annotation>
          <documentation>
            Number of variables to send per SNMP request.
          </documentation>
        </annotation>
      </attribute>

<attribute name="max-interface-per-pdu" type="int" use="optional" default="0" >
        <annotation>
          <documentation>
            Max Number of Interface per runnable. This is deprecated and will be ignored in the code!
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>
   
</schema>
