opennms-alarms/jms-northbounder/src/main/resources/xsds/jms-northbounder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.opennms.org/xsd/config/jms-northbounder" targetNamespace="http://xmlns.opennms.org/xsd/config/jms-northbounder">
   <xsd:complexType name="jmsDestination">
      <xsd:sequence>
         <xsd:element name="first-occurence-only" type="xsd:boolean" default="false"/>
         <xsd:element name="send-as-object-message" type="xsd:boolean" default="false"/>
         <xsd:element name="destination-type" type="destination-type" default="QUEUE"/>
         <xsd:element name="jms-destination" type="xsd:string"/>
         <xsd:element name="message-format" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="jmsNorthbounderConfig">
      <xsd:sequence>
         <xsd:element name="enabled" type="xsd:boolean" minOccurs="0" default="false"/>
         <xsd:element name="nagles-delay" type="xsd:int" minOccurs="0" default="1000"/>
         <xsd:element name="batch-size" type="xsd:int" minOccurs="0" default="100"/>
         <xsd:element name="queue-size" type="xsd:int" minOccurs="0" default="300000"/>
         <xsd:element name="message-format" type="xsd:string" minOccurs="0" default="ALARM ID:${alarmId} NODE:${nodeLabel} ${logMsg}"/>
         <xsd:element name="destination" type="jmsDestination" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="uei" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
