opennms-services/src/main/resources/META-INF/opennms/onms-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  Handled by org.opennms.spring.xml.OnmsNamespaceHandler -->

<xsd:schema xmlns="http://xmlns.opennms.org/xsd/spring/onms"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://xmlns.opennms.org/xsd/spring/onms"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

   <xsd:import namespace="http://www.springframework.org/schema/beans"/>

   <xsd:element name="dateformat">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
               <xsd:attribute name="lenient" type="xsd:boolean"/>
               <xsd:attribute name="pattern" type="xsd:string" use="required"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   
   <xsd:element name="service">
     <xsd:complexType>
       <xsd:complexContent>
         <xsd:extension base="beans:identifiedType">
            <xsd:group ref="beans:beanElements" />
            <xsd:attributeGroup ref="beans:beanAttributes" />
         </xsd:extension>
       </xsd:complexContent>
     </xsd:complexType>
   </xsd:element>

</xsd:schema>