opennms-model/src/main/castor/event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- target package ::= org.opennms.netmgmt.xml.event -->
<schema targetNamespace="http://xmlns.opennms.org/xsd/event" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:this="http://xmlns.opennms.org/xsd/event"
  xmlns:ns2="http://www.w3.org/1999/xhtml" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" elementFormDefault="qualified">
  <annotation>
    <documentation>XML Schema for OpenNMS events. Version:
      $Id$</documentation>
  </annotation>

  <annotation>
    <documentation>Top-level element for OpenNMS events.</documentation>
  </annotation>

  <element name="log">
    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="0" ref="this:header" />

        <element maxOccurs="1" minOccurs="1" ref="this:events" />
      </sequence>
    </complexType>
  </element>

  <element name="header">
    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="1" name="ver" type="string" />

        <element maxOccurs="1" minOccurs="1" name="dpName" type="string" />

        <element maxOccurs="1" minOccurs="1" name="created" type="string">
          <annotation>
            <documentation>The time at which this log was generated. The time
              is in the format generated by the java.text.DateFormat using the
              DateFormat.FULL style for the default locale. For example:
              "Monday, February 18, 2002 3:01:58 PM EST"</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="1" name="mstation" type="string" />
      </sequence>
    </complexType>
  </element>

  <element name="events">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="1" ref="this:event" />
      </sequence>
    </complexType>
  </element>

  <element name="event">
    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="0" name="dbid">
          <annotation>
            <documentation>The event database id</documentation>
          </annotation>

          <simpleType>
            <restriction base="int">
              <minInclusive value="1" />
            </restriction>
          </simpleType>
        </element>

        <element maxOccurs="1" minOccurs="0" name="dist-poller" type="string" />

        <element maxOccurs="1" minOccurs="0" name="creation-time" type="string">
          <annotation>
            <documentation>from header</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="master-station" type="string">
          <annotation>
            <documentation>from header</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" ref="this:mask">
          <annotation>
            <documentation>The event mask which helps to uniquely identify an event</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="uei" type="string">
          <annotation>
            <documentation>The Universal Event Identifier</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="1" name="source" type="string" />

        <element maxOccurs="1" minOccurs="0" name="nodeid" type="long">
          <annotation>
            <documentation>The nodeid to which this event
              pertains</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="1" name="time" type="string">
          <annotation>
            <documentation>The time at which this event was generated. The
              time is in the format generated by the java.text.DateFormat using
              the DateFormat.FULL style for the default locale. For example:
              "Monday, February 18, 2002 3:01:58 PM EST"</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="host" type="string">
          <annotation>
            <documentation>The host at which the event is
              generated</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="interface" type="string">
          <annotation>
            <documentation>The interface to which this event is
              pertinent</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="snmphost" type="string">
          <annotation>
            <documentation>The snmp host of the trap</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="service" type="string">
          <annotation>
            <documentation>The service to which this event is
              pertinent</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" ref="this:snmp">
          <annotation>
            <documentation>The snmp information from the trap</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" ref="this:parms">
          <annotation>
            <documentation>The varbinds from the trap</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="descr" type="string">
          <annotation>
            <documentation>The event description</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" ref="this:logmsg">
          <annotation>
            <documentation>The event logmsg</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="severity" type="string">
          <annotation>
            <documentation>The event severity</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="pathoutage" type="string">
          <annotation>
            <documentation>The path outage information</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" ref="this:correlation">
          <annotation>
            <documentation>The event correlation information</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="operinstruct" type="string">
          <annotation>
            <documentation>The operator instruction for this
              event</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" ref="this:autoaction">
          <annotation>
            <documentation>The automatic action to occur when this event
              occurs</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" ref="this:operaction">
          <annotation>
            <documentation>The operator action to be taken when this event
              occurs</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" ref="this:autoacknowledge">
          <annotation>
            <documentation>The autoacknowledge information for the
              user</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" name="loggroup" type="string">
          <annotation>
            <documentation>A logical group with which to associate this
              event</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" ref="this:tticket">
          <annotation>
            <documentation>The trouble ticket info</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" ref="this:forward">
          <annotation>
            <documentation>The forwarding information for this
              event</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="0" ref="this:script">
          <annotation>
            <documentation>The script information for this
              event</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="ifIndex" type="int">
          <annotation>
            <documentation>The ifIndex to which this event is
              pertinent</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="ifAlias" type="string">
          <annotation>
            <documentation>The ifAlias to which this event is
              pertinent</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="mouseovertext" type="string">
          <annotation>
            <documentation>The text to be displayed on a 'mouseOver' event
              when this event is displayed in the event browser</documentation>
          </annotation>
        </element>

        <element ref="this:alarm-data" minOccurs="0" maxOccurs="1">
          <annotation>
            <documentation>Data used to create an event.</documentation>
          </annotation>
        </element>

      </sequence>

      <attribute name="uuid" type="string" use="optional" />
    </complexType>
  </element>

  <element name="event-receipt">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="1" name="uuid" type="string" />
      </sequence>
    </complexType>
  </element>

  <element name="mask">
    <annotation>
      <documentation>The Mask for event configuration: The mask contains one
        or more 'maskelements' which uniquely identify an event. This can only
        include elements from the following subset: uei, source, host, snmphost,
        nodeid, interface, service, id(SNMP EID), specific, generic,
        community</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="1" ref="this:maskelement" />
      </sequence>
    </complexType>
  </element>

  <element name="maskelement">
    <annotation>
      <documentation>The mask element</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="1" name="mename" type="string">
          <annotation>
            <documentation>The mask element name can only be one of those
              specified above</documentation>
          </annotation>
        </element>

        <element maxOccurs="unbounded" minOccurs="1" name="mevalue" type="string">
          <annotation>
            <documentation>The mask element value</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>

  <element name="snmp">
    <annotation>
      <documentation>The snmp information from the trap</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="1" name="id" type="string">
          <annotation>
            <documentation>The snmp enterprise id</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="idtext" type="string">
          <annotation>
            <documentation>The snmp enterprise id text</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="1" name="version" type="string">
          <annotation>
            <documentation>The snmp version</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="specific" type="int">
          <annotation>
            <documentation>The specific trap number</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="generic" type="int">
          <annotation>
            <documentation>The generic trap number</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="community" type="string">
          <annotation>
            <documentation>The community name</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="time-stamp" type="long">
          <annotation>
            <documentation>The time stamp</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>

  <element name="parms">
    <annotation>
      <documentation>The varbinds from the trap</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="1" ref="this:parm" />
      </sequence>
    </complexType>
  </element>

  <element name="parm">
    <annotation>
      <documentation>A varbind from the trap</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="1" name="parmName" type="string">
          <annotation>
            <documentation>parm name</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="1" ref="this:value">
          <annotation>
            <documentation>parm value</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>

  <element name="value">
    <annotation>
      <documentation>parm value</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute default="string" name="type" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(int|string|Int32|OctetString|Null|ObjectIdentifier|Sequence|IpAddress|Counter32|Gauge32|TimeTicks|Opaque|Counter64)" />
              </restriction>
            </simpleType>
          </attribute>

          <attribute default="text" name="encoding" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(text|base64)" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="logmsg">
    <annotation>
      <documentation>The event logmsg with the destination attribute defining
        if event is for display only, logonly, log and display or neither. A
        destination attribute of 'donotpersist' indicates that Eventd is not to
        persist the event to the database. The optional notify attributed can be
        used to suppress notices on a particular event (by default it is true -
        i.e. a notice will be sent.</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute name="notify" type="boolean" use="optional" default="true" />
          <attribute default="logndisplay" name="dest" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(logndisplay|displayonly|logonly|suppress|donotpersist)" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="correlation">
    <annotation>
      <documentation>The event correlation information</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="cuei" type="string">
          <annotation>
            <documentation>A canceling UEI for this event</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="cmin" type="string">
          <annotation>
            <documentation>The minimum count for this event</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="cmax" type="string">
          <annotation>
            <documentation>The maximum count for this event</documentation>
          </annotation>
        </element>

        <element maxOccurs="1" minOccurs="0" name="ctime" type="string">
          <annotation>
            <documentation>The correlation time for this event</documentation>
          </annotation>
        </element>
      </sequence>

      <attribute default="off" name="state" use="optional">
        <annotation>
          <documentation>The state determines if event is
            correlated</documentation>
        </annotation>

        <simpleType>
          <restriction base="string">
            <pattern value="(on|off)" />
          </restriction>
        </simpleType>
      </attribute>

      <attribute default="suppressDuplicates" name="path" use="optional">
        <annotation>
          <appinfo>The correlation path</appinfo>
        </annotation>

        <simpleType>
          <restriction base="string">
            <pattern value="(suppressDuplicates|cancellingEvent|suppressAndCancel|pathOutage)" />
          </restriction>
        </simpleType>
      </attribute>
    </complexType>
  </element>

  <element name="autoaction">
    <annotation>
      <documentation>The automatic action to occur when this event occurs with
        state controlling if action takes place</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute default="on" name="state" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(on|off)" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="operaction">
    <annotation>
      <documentation>The operator action to be taken when this event occurs
        with state controlling if action takes place. The menutext gets
        displayed in the UI.</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute default="on" name="state" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(on|off)" />
              </restriction>
            </simpleType>
          </attribute>

          <attribute name="menutext" type="string" use="required" />
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="autoacknowledge">
    <annotation>
      <documentation>The autoacknowledge information for the user with state
        controlling if event is marked acknoledged when inserted into the
        database</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute default="on" name="state" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(on|off)" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="tticket">
    <annotation>
      <documentation>The trouble ticket info with state on/off determining if
        action is taken on the trouble ticket.</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute default="on" name="state" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(on|off)" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="forward">
    <annotation>
      <documentation>The forwarding information for this event - state
        determines if event is forwarded, mechanism determines how event is
        forwarded .</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute default="off" name="state" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(on|off)" />
              </restriction>
            </simpleType>
          </attribute>

          <attribute default="snmpudp" name="mechanism" use="optional">
            <simpleType>
              <restriction base="string">
                <pattern value="(snmpudp|snmptcp|xmltcp|xmludp)" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="script">
    <annotation>
      <documentation>The script information for this event - describes a
        script to be executed whenever the event occurs.</documentation>
    </annotation>

    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute name="language" type="string" use="required" />
        </extension>
      </simpleContent>
    </complexType>
  </element>
  
  <element name="alarm-data">
    <annotation>
      <documentation>This element is used for converting events into alarms.</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="this:update-field" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute name="reduction-key" type="string" use="required" />
      <attribute name="alarm-type" use="required">
        <simpleType>
          <restriction base="int">
            <minInclusive value="1" />
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="clear-key" type="string" use="optional" />
      <attribute name="auto-clean" type="boolean" use="optional" default="false" />
      <attribute name="x733-alarm-type" type="this:x733-alarm-type" use="optional" />
      <attribute name="x733-probable-cause" type="int" use="optional" />
    </complexType>
  </element>

  <element name="update-field">
    <complexType>
      <attribute name="field-name" type="string" use="required" />
      <attribute name="update-on-reduction" type="boolean" use="optional" default="true" />
    </complexType>
  </element>

  <simpleType name="x733-alarm-type">
    <restriction base="string">
      <pattern
        value="CommunicationsAlarm|ProcessingErrorAlarm|EnvironmentalAlarm|QualityOfServiceAlarm|EquipmentAlarm|IntegrityViolation|SecurityViolation|TimeDomainViolation|OperationalViolation|PhysicalViolation" />
    </restriction>
  </simpleType>

</schema>
