opennms-config-model/src/main/resources/xsds/poll-outages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.opennms.org/xsd/config/poller/outages"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:this="http://xmlns.opennms.org/xsd/config/poller/outages"
        xmlns:ns2="http://www.w3.org/1999/xhtml"
        xmlns:ns="http://www.w3.org/2001/XMLSchema"
		  xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
		  elementFormDefault="qualified">
  <annotation>
    <documentation>XML Schema for the poll-outages.xml configuration file.
    Version: $Id$</documentation>
  </annotation>

  <element name="outages">
    <annotation>
      <documentation>Top-level element for the poll-outages.xml configuration
      file.</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" ref="this:outage">
          <annotation>
            <documentation>A scheduled outage</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>

  <element name="outage">
    <annotation>
      <documentation>a scheduled outage</documentation>
    </annotation>

    <complexType>
      <complexContent>
        <extension base="this:basicSchedule">
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" ref="this:interface">
              <annotation>
                <documentation>List of interfaces to which the outage
                applies.</documentation>
              </annotation>
            </element>

            <element maxOccurs="unbounded" minOccurs="0" ref="this:node">
              <annotation>
                <documentation>List of nodes to which the outage
                applies.</documentation>
              </annotation>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="interface">
    <annotation>
      <documentation>Interface to which the outage applies.</documentation>
    </annotation>

    <complexType>
      <attribute name="address" use="required">
        <annotation>
          <documentation>IP address</documentation>
        </annotation>

        <simpleType>
          <restriction base="string">
            <!-- http://forums.dartware.com/viewtopic.php?t=452 -->
            <pattern value="(((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?)|(([01]?[0-9][0-9]?|2[0-4][0-9]|25[0-5])(\.([01]?[0-9][0-9]?|2[0-4][0-9]|25[0-5])){3})|(match-any)">
              <annotation>
                <documentation>Requires valid IP address.</documentation>
              </annotation>
            </pattern>
          </restriction>
        </simpleType>
      </attribute>
    </complexType>
  </element>

  <element name="node">
    <complexType>
      <attribute name="id" type="int" use="required"/>
    </complexType>
  </element>

  <complexType name="basicSchedule">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="1" ref="this:time">
        <annotation>
          <documentation>defines start/end time for the outage</documentation>
        </annotation>
      </element>
    </sequence>

    <attribute name="name" type="string" use="required">
      <annotation>
        <documentation>outage name</documentation>
      </annotation>
    </attribute>

    <attribute name="type" use="required">
      <annotation>
        <documentation>outage type</documentation>
      </annotation>

      <simpleType>
        <restriction base="string">
          <pattern value="(specific|daily|weekly|monthly)"/>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <element name="time">
    <annotation>
      <documentation>defines start/end time for the outage</documentation>
    </annotation>

    <complexType>
    
      <attribute name="id" use="optional" type="string">
        <annotation>
          <documentation>
          	an identifier for this event used for reference in the web gui.  If this
          	identifer is not assigned it will be assigned an identifer by web gui.
          </documentation>
        </annotation>
      </attribute>
          	
      <attribute name="day" use="optional">

        <simpleType>
          <restriction base="string">
            <pattern value="(monday|tuesday|wednesday|thursday|friday|saturday|sunday|[1-3][0-9]|[1-9])"/>
          </restriction>
        </simpleType>
      </attribute>

      <attribute name="begins" use="required">
        <annotation>
          <documentation>when the outage starts</documentation>
        </annotation>

        <simpleType>
          <restriction base="string">
            <pattern value="(([0-9]{2}-[A-Za-z]{3}-[12][0-9]{3}[ ]+([0-9]{2}:){2}[0-9]{2})|(([0-9]{2}:){2}[0-9]{2}))">
              <annotation>
                <documentation>Requires format of 'dd-MMM-yyyy HH:mm:ss' or
                'HH:mm:ss'</documentation>
              </annotation>
            </pattern>
          </restriction>
        </simpleType>
      </attribute>

      <attribute name="ends" use="required">
        <annotation>
          <documentation>when the outage ends</documentation>
        </annotation>

        <simpleType>
          <restriction base="string">
            <pattern value="(([0-9]{2}-[A-Za-z]{3}-[12][0-9]{3}[ ]+([0-9]{2}:){2}[0-9]{2})|(([0-9]{2}:){2}[0-9]{2}))">
              <annotation>
                <documentation>Requires format of 'dd-MMM-yyyy HH:mm:ss' or
                'HH:mm:ss'</documentation>
              </annotation>
            </pattern>
          </restriction>
        </simpleType>
      </attribute>
    </complexType>
  </element>

</schema>
